<!Doctype html>
<meta charset="utf-8">
<!--
  Author: Nic Mays
  Course: Data Viz
  Date: Spring 2020
-->
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='styles/custom-colors.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/navbar.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename="scripts/indexUtil.js") }} "></script>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="{{ url_for('static', filename="scripts/scatterplot-Generate.js") }}"></script>
        <script src="{{ url_for('static', filename="scripts/barchart-Generate.js") }}"></script>
        <script src="{{ url_for('static', filename="scripts/audio-chart-Generate.js") }}"></script>
    </head>

    <body style="background: #535353">
        <nav class="navbar-custom navbar navbar-expand-lg navbar-dark info-color sticky-top">
            <a class="navbar-brand" href="/">Viz.fy's Top 200</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="pageSpacer"></div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="/about">
                            About
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    &emsp;
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#scatter-plot-container">
                            Streams
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#bar-chart-container">
                            Top Artist
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#audio-chart-container">
                            Audio Chart
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    &emsp; <!-- Tab space -->
                    &emsp; <!-- Tab space -->
                    &emsp; <!-- Tab space -->
                    <li class="nav-item" style="float:right;">
                        <a id="nav-ratio-holder"class="nav-link waves-effect waves-light">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#" data-toggle="tooltip" data-html="true" title="Some newly released tracks may not have audio features yet, thus aren't visualized" style="font-size:17px">
                            	?
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown"></li>
                </ul>```
            </div>
        </nav>

        <div id="scroll-to-scatter" class="pageSpacer"></div>

        <div class="container body-container mt-4 pt-2">
            <div class = "row justify-content-center">

                <div class="p-3 mb-5 rounded blog-post " style="background: #535353;">
                    <p id="intro">Welcome to viz.fy! Visualizations on Spotify's daily top 200 tracks in the United States.
                        You can view today's top tracks/download the data set
                        <a class="here" href="https://spotifycharts.com/regional/us/daily/latest">here.</a> </p>
                    <p>Music is a huge part of the world's culture, in the digital age it seems almost random what
                        will become a top song. We thought to explore today's top music and see if we could make any sense
                        of today's hits.</p>
                </div>

                <div class="viz-case">
                    <div class="p-3 mb-5 rounded blog-post " style="background: #535353;">
                        <p> We wanted to take a look at the shape of the 'Streams Curve" by plotting a song's streams
                            against it's position in Spotify's top 200.
                            This can give us a look into how drastically having a song in a higher position
                            would increase a song's exposure / interaction.</p>
                        <p> Clicking any of the numbered buttons in the top left will filter the data by the Top 200 tracks,
                            Top 100 tracks, and Top 50 tracks. Clicking the "Toggle smooth curve" button will add a smooth
                            curve to the points, accentuating the shape of the curve. </p>
                        <p>Hover over any of the data points to reveal facts about the song.</p>
                    </div>

                    <div id="scatter-plot-container" class="shadow-lg p-3 mb-5 rounded" style="background: #ffffff;">
                        <div id='scatter-filter-button-container' class="shadow p-3 mb-5 rounded">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button id="scatter-200" type="button" class="btn btn-success">Top 200</button>
                                <button id="scatter-100" type="button" class="btn btn-success">Top 100</button>
                                <button id="scatter-50" type="button" class="btn btn-success">Top 50</button>
                                <div class="buttonSpacer"></div>
                                <button id="toggle-curve" type="button" class="btn btn-success">Toggle smooth curve</button>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div id="scatter_plot"></div>
                        </div>
                    </div>
                </div>

                <div  style="height: 50px"></div>
                <div id="scroll-to-bar" class="pageSpacer"></div>

                <div class="viz-case">
                    <div class="p-3 mb-5 rounded blog-post " style="background: #535353;">
                        <p> Now let's look at the top 200's most decorated artists. Viz.fy defines a "top artist", as any
                            artist with more than one song on today's top 200 list. The more songs an Artist has on the top 200,
                            its safe to say the more likely the Artist will continue to appear on future top 200 lists. This bar
                            chart captures these top artists and how many songs they have on today's top 200 list.</p>
                        <p> Clicking any of the bars will take you to Spotify and play you that artist's top song,
                            making it easy for you to discover new music.</p>
                        <p>Orange bars specify a Artist who has an above average amount of songs on today's top 200
                            list among top artists. Green bars are below the average among top artists. The average is
                            dynamically calculated based on today's data.</p>
                    </div>

                    <div id="bar-chart-container" class="shadow-lg p-3 mb-5 rounded" style="background: #ffffff;">
                        <div class="row justify-content-center">
                            <div id="bar_chart"></div>
                        </div>
                    </div>
                </div>

                <div  style="height: 50px"></div>
                <div id="scroll-to-audio" class="pageSpacer"></div>

                <div class="viz-case">
                    <div class="p-3 mb-5 rounded blog-post " style="background: #535353;">
                        <p> Lastly we wanted to present what is present in top songs through Spotify's audio features.
                            Spotify collects certain data on certain aspects of each track, these features are the
                            "acousticness", "danceability", "energy", "liveness", "speechiness" and "valence" of the song.
                            Further information on Spotify's audio features can be found
                            <a class="here" href="https://developer.spotify.com/documentation/web-api/reference/tracks/get-audio-features/">here.</a>
                            We plotted the song's respective audio feature value versus the song's top 200 position.
                            Also we included a line of best fit so we could possibly identify any trends.
                            If a trend exists, its more likely that there's a correlation
                            between the value of the audio feature and the song's position.</p>
                        <p> Click the "Cycle Audio Feature" button to change the input variable of the audio feature we
                            are visualizing.</p>
                        <p> Click the "?" button for a description of the audio feature defined by Spotify.</p>
                    </div>

                    <div id="audio-chart-container" class="shadow-lg p-3 mb-5 rounded" style="background: #ffffff;">
                        <div id='audio-cycle-button-container' class="shadow p-3 mb-5 rounded">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button id="cycle-btn" type="button" class="btn btn-success">Cycle Audio Feature</button>
                                <div class="buttonSpacer"></div>
                                <button id="description-button" type="button" class="btn btn-success svg" data-toggle="modal" data-target="#modal-acousticness">
                                    ?
                                </button>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div id="audio_chart"></div>
                        </div>
                    </div>
                </div>

                <div  style="height: 50px"></div>
                <div id="scroll-to-bar" class="pageSpacer"></div>

            </div>

            <!-- Modal Information === START -->
            <div class="modal fade" id="modal-acousticness" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">acousticness</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            A confidence measure from 0.0 to 1.0 of whether the track is acoustic.
                            1.0 represents high confidence the track is acoustic.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-danceability" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">danceability</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Danceability describes how suitable a track is for dancing based on a combination
                            of musical elements including tempo, rhythm stability, beat strength, and overall
                            regularity. A value of 0.0 is least danceable and 1.0 is most danceable.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-energy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">energy</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and
                            activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal
                            has high energy, while a Bach prelude scores low on the scale. Perceptual features
                            contributing to this attribute include dynamic range, perceived loudness, timbre, onset
                            rate, and general entropy.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-liveness" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">liveness</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Detects the presence of an audience in the recording. Higher liveness values represent an
                            increased probability that the track was performed live. A value above 0.8 provides
                            strong likelihood that the track is live.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-speechiness" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">speechiness</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Speechiness detects the presence of spoken words in a track. The more exclusively
                            speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the
                            attribute value. Values above 0.66 describe tracks that are probably made entirely of
                            spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and
                            speech, either in sections or layered, including such cases as rap music. Values below 0.33
                            most likely represent music and other non-speech-like tracks.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-valence" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">valence</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track.
                            Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric),
                            while tracks with low valence sound more negative (e.g. sad, depressed, angry).
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Information === END -->

        </div>
    </body>
</html>