<!Doctype html>
<meta charset="utf-8">
<!--
  Author: Nic Mays
  Course: Data Viz
  Date: Spring 2020
-->
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='styles/custom-colors.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/navbar.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename="scripts/indexUtil.js") }} "></script>
        <!--<script src="{{ url_for('static', filename="scripts/d3.v4.min.js") }}"></script>-->
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="{{ url_for('static', filename="scripts/scatterplot-Generate.js") }}"></script>
        <script src="{{ url_for('static', filename="scripts/barchart-Generate.js") }}"></script>
        <script src="{{ url_for('static', filename="scripts/audio-chart-Generate.js") }}"></script>
    </head>

    <body style="background: #535353">
        <nav class="navbar-custom navbar navbar-expand-lg navbar-dark info-color sticky-top">
            <a class="navbar-brand" href="/">Viz.fy's Top 200</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="pageSpacer"></div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="/about">
                            About
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    &emsp;
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#scroll-to-scatter">
                            Scatter Plot
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#bar-chart-container">
                            Bar Chart
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    &emsp;
                    &emsp;
                    &emsp;
                    <li class="nav-item" style="float:right;">
                        <a id="nav-ratio-holder"class="nav-link waves-effect waves-light">

                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown"></li>
                </ul>
            </div>
        </nav>

        <div id="scroll-to-scatter" class="pageSpacer"></div>

        <div class="container body-container mt-4 pt-2">
            <div class = "row justify-content-center">
                <div id="scatter-plot-container" class="shadow-lg p-3 mb-5 rounded" style="background: #ffffff;">
                    <div id='scatter-filter-button-container' class="shadow p-3 mb-5 rounded">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button id="scatter-200" type="button" class="btn btn-success">Top 200</button>
                            <button id="scatter-100" type="button" class="btn btn-success">Top 100</button>
                            <button id="scatter-50" type="button" class="btn btn-success">Top 50</button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div id="scatter_plot"></div>
                    </div>
                </div>

                <div id="scroll-to-bar" class="pageSpacer"></div>

                <div id="bar-chart-container" class="shadow-lg p-3 mb-5 rounded" style="background: #ffffff;">
                    <div class="row justify-content-center">
                        <div id="bar_chart"></div>
                    </div>
                </div>

                <div class="pageSpacer"></div>

                <div id="audio-chart-container" class="shadow-lg p-3 mb-5 rounded" style="background: #ffffff;">
                    <div id='audio-cycle-button-container' class="shadow p-3 mb-5 rounded">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button id="cycle-btn" type="button" class="btn btn-success">Cycle Audio Feature</button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div id="audio_chart"></div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>