.pageSpacer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.buttonSpacer {
    padding-left: 10px;
    padding-right: 10px;
}

html {
  scroll-behavior: smooth;
}

#scatter-filter-button-container {
    width: 29%;
}

.bar {
    fill: #5f89ad;
}

.axis {
    font-size: 13px;
}

.axis path, .axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 13px;
}

rect {
    cursor: pointer;
}

.blog-post {
    color: white;
    position: center;
    text-align: center;
    font-size: 20px;
}

#intro {
    font-size: 40px;
}

.here {
    color: #1DB954;
}

#scatter-filter-button-container {
    width: 50%;
}

#audio-cycle-button-container {
    width: 27%;
}

.viz-case {
    border-radius: 25px;
    border: 2px solid #1DB954;
    padding: 20px;
}